/* Custom styles for CocktailCard */
.custom-card {
    border: 2px solid #333; /* Darker border color */
    text-align: center; /* Center the text */
  }
  
  .custom-card-img {
    max-height: 200px; /* Set a maximum height for the image */
  }
  
  .custom-button {
    background-color: #17a2b8; /* Change button color to a different color (info color in this example) */
    color: white; /* Button text color */
    width: 100%; /* Make the button full width */
  }
  