.password-change-container {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.password-change-title {
  font-size: 30px;
  font-weight: bold;
}

.password-form-label {
  font-size: 24px;
  font-weight: bold;
}

.password-form-control {
  font-size: 24px;
}

.text-danger {
  color: red;
}
