.custom-button {
  background-color: transparent;
  border: 1px solid #007bff;
  margin-right: 40px;
  color: black;
}

.bold-text {
  font-weight: bold;
}

.full-width-image {
  width: 100%;
  height: auto;
}

p {
  font-size: 24px;
}

ul {
  font-size: 20px;
}
