.image-container {
  background-color: #f8f9fa;
  text-align: center;
  position: relative;
  padding: 3rem;
}

.image-container img {
  max-height: 50%;
  max-width: 50%;
  height: auto;
  width: auto;
}

.ingredient-instruction {
  margin-top: 2rem;
}

.remove-ingredient-button {
  font-size: 18px;
}

.add-ingredient-button {
  margin-left: 1rem;
}

.submit-button {
  margin-top: 2rem;
}
